.box {
    display: table;
    width: 100%;
    height: 100%;

    .box-row {
        display: table-row;
        height: 100%;

        .box-cell {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        .box-inner {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}