@label-width: 80px;
@label-padding-width: @label-width + 10;

/* 当表格在form中呈现时的样式 */
.table-form {
    tr > td {
        padding: 0;
        vertical-align: middle;
        text-align: center;
        border: 1px solid #A1A1A1;

        &.editable {
            background: #eef5f5;
        }

        label {
            padding: 0 5px;
            margin: 0;
            font-weight: normal;
        }
    }

    .form-control {
        padding: 2px 6px;
        border: 2px solid transparent;
        background: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;

        &:focus {
            border: 2px solid #66afe9;
        }
    }
}


.table-form-horizontal {
    td .control-label {
        float: left;
        width: @label-width;
        line-height: @input-height-base;
        margin-left: -@label-padding-width;
        margin-bottom: 0;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    > tbody > tr > td {
        padding-left: @label-padding-width;
    }
}