

// ui-dialog
@ui-dialog-footer-height: 46px; 


// kendo-ui
@k-selected-color:#fff;
@k-selected-bg-color:#428bca;
@k-selected-border-color:#428bca;
@k-marquee-bg-color:#00b0ff;
@k-marquee-color:#3f51b5;

// typeahead
@tt-hint-color:#999;

@thirdpartyPath: "../../../../vendor/";


// tab
@tab-border: #C5D0DC;
@tab-color: #999;
@tab-background-color: #F9F9F9;
@tab-active-color: #576373;
@tab-active-border: #4C8FBD;
@tab-hover-color: #4C8FBD;
@tab-active-background-color: #fff;
@tab-color-blue: #7DB4D8; // 带颜色的选项卡

//custom
@extend_level: 16; // 循环生成样式的初始级别