extends layout

block content
  .container
    .bs-docs-section
      .row
        .col-lg-12
          .page-header
            h1#navbar Navbar
      .row
        .col-lg-12
          .bs-component
            include components/navbar-default.html
          .bs-component
            include components/navbar-inverse.html
      // Buttons
     .bs-docs-section
      .row
        .col-lg-12
          .page-header
            h1#buttons Buttons
      div.row
        .col-lg-6
          .bs-component
            include components/buttons.html
          .bs-component
            include components/buttons-disabled.html
          .bs-component
            include components/buttons-group.html
          .bs-component
            include components/buttons-size.html
        .col-lg-6
          .bs-component
            include components/buttons-block.html
          .bs-component
            include components/buttons-justified.html
          .bs-component
            include components/buttons-toolbar.html
          .bs-component
            include components/buttons-vertical.html

    .bs-docs-section
      .row
        .col-lg-12
          .page-header
            h1#type Typography
      .row
        .col-lg-4
          .bs-component
            include components/typo-heading.html
        .col-lg-4
          .bs-component
            include components/typo-para.html
        .col-lg-4
          .bs-component
            include components/typo-emphasis.html
      .row
        .col-lg-12
          h2#type-blockquotes Blockquotes
      .row
        .col-lg-6
          .bs-component
            include components/blockquote.html
        .col-lg-6
          .bs-component
            include components/blockquote-alt.html
    .bs-docs-section
      .row
        .col-lg-12
          .page-header
            h1#tables Tables
          .bs-component
            include components/table.html
    .bs-docs-section
      .row
        .col-lg-12
          .page-header
            h1#forms Forms
      .row
        .col-lg-6
            include components/form-horizontal.html
        .col-lg-4.col-lg-offset-1
            include components/form-input.html
    .bs-docs-section
      +header('nav', 'Navs')
      .row
        .col-lg-4
          h2#nav-tabs Tabs
          include components/nav-tabs.html
        .col-lg-4
          h2#nav-pills Pills
          include components/nav-pills.html
        .col-lg-4
          h2#nav-breadcrumbs Breadcrumbs
          include components/nav-breadcrumbs.html
      .row
        .col-lg-4
          h2#pagination Pagination
          include components/pagination.html
        .col-lg-4
          h2#pager Pager
          include components/pager.html
    .bs-docs-section
      +header('indicators', 'Indicators')
      .row
        .col-lg-12
          h2#Alerts
          include components/alerts.html
      .row
        .col-lg-4
          include components/alert-info.html
        .col-lg-4
          include components/alert-success.html
        .col-lg-4
          include components/alert-danger.html
      .row
        .col-lg-6
          h2#Labels
          include components/label.html
        .col-lg-6
          h2#Badges
          include components/badges.html
    .bs-docs-section
      +header('progress', 'Progress bars')
      include components/progress.html
    .bs-docs-section
      +header('container', 'Containers')
      include components/jumbotron.html
      +subheader('List groups')
      include components/list-group.html
      +subheader('Panels')
      include components/panel-base.html
      +subheader('* Panel Extra')
      include components/panel-extra.html
      +subheader('Wells')
      include components/well.html
    .bs-docs-section
      +header('dialogs', 'Dialogs')
      +subheader('Modals')
      include components/dialogs.html
    .bs-docs-section
      +header('sidebar', 'Sidebar')
      +subheader('Normal')
      include components/sidebar-normal.html
      +subheader('Compact')
      include components/sidebar-compact.html
      +subheader('Mini')
      include components/sidebar-mini.html
