// use: http://getbootstrap.com/examples/dashboard/

extends extend-layout-explain

block body
  body.admin
  include components/layout-admin.html
  include scripts
  script(src="../assets/layout-admin.js")