doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Tiny:All Style
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(href='../dist/css/bootstrap.css')
    link(href='../dist/css/tiny.css')
    link(href='assets/bootswatch.min.css')

    //if lt IE 9
      script(src="../bower_components/html5shiv/dist/html5shiv.js")
      script(src="../bower_components/respond/dest/respond.js")