// 横向导航 Navbar
//
// 来源于 Bootsrap
//
// Markup: ../../tpls/_build/navbar/navbar-default.html
//
// .navbar-default - 默认的
// .navbar-inverse - 反色调
// .navbar-dark - 深色
//
// Styleguide navbar

.navbar-fixed-top,
.navbar-fixed-bottom {
    z-index: 1000;
}

.navbar-dark {
    background-color: #3f51b5;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    margin-bottom: 0;

    .navbar-brand {
        color: #fff;

        &:hover,
        &:focus {
            color: #fff;
            background-color: transparent;
        }
    }

    .navbar-nav,
    .navbar-text,
    .nav {
        color: #fff;

        > li > a {
            color: #fff;

            &:hover, &:focus {
                background-color: transparent;
            }
        }
    }

    .nav .open > a {
        background-color: transparent;
    }
}