<div class="clearfix">
    <div style="background:#bbb" class="pull-left">
        <div class="{{modifier_class}}" style="background:#aaa">
            <div style="width: 300px;height: 100px; background: #999;">
            </div>
        </div>
    </div>
</div>
