.enable_utility_space() when(@enable-utility-space = true) {
    .space() {
        max-height: 1px;
        min-height: 1px;
        overflow: hidden;
    }
    // 默认的 space
    .space {
        .space();
        display: inline-block;
        margin: 12px 0;
    }

    .spaceX (@index) when (@index > 0) {
        .space-@{index} {
            .space();
            width: 1px;
            margin: 0 unit(@index, px) 0 unit(@index - 1, px);
        }

        [class*="vspace-@{index}"] {
            .space();
            margin: unit(@index, px) 0 unit(@index - 1, px) 0;
        }

        .spaceX(@index - 2);
    }

    .spaceX(@extend_level);
}

.enable_utility_space();
