doctype html

include ../_partials/mixin

html(lang="en")
  include ../_partials/header

  body
    block content

    include ../_partials/footer

    include ../_partials/scripts

    block scripts


