@thirdpartyPath: "../../../../vendor/";

@enable-utility-space: true;
@enable-utility-size: true;
@enable-utility-separator: true;
@enable-utility-layout: true;
@enable-utility-header: true;
@enable-utility-color: true;
@enable-utility-box-model: true;

@enable-tabs: true;
@enable-tab-positions: true;
@enable-tab-options: true;

@tab-border: #C5D0DC;
@tab-color: #999;
@tab-background-color: #F9F9F9;
@tab-active-color: #576373;
@tab-active-border: #4C8FBD;
@tab-hover-color: #4C8FBD;
@tab-active-background-color: #fff;
@tab-color-blue: #7DB4D8; // 带颜色的选项卡

//custom
@extend_level: 16; // 循环生成样式的初始级别

@import "assets/bootstrap-theme-tiny/variables.less";
@import "assets/bootstrap-theme-tiny/mixins.less";
@import "assets/bootstrap-theme-tiny/theme.less";



@import "less/mixins";
/*@import "utility/utility";*/
@import "less/tab/tab";
@import "less/sidebar/sidebar";
/*@import "less/icon/fonttiny.less";*/

/* 补丁 */

@import "less/patches/bootstrap-patch";
@import "less/patches/kendoui-patch";
@import "less/patches/bootstrap-kendoui-patch";
@import "less/patches/ui-dialog-patch";
@import "less/patches/typeahead";


/* 自定义样式 */
@import "less/panel";
@import "less/layout";
@import "less/form";
@import "less/tiny";





